* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
--primary-color: #a8dadc;
--secondary-color: #1d3557;
/*--tertiary-color: #457b9d;*/
--tertiary-color: #BA9790;
--background-color: #f1faee;
}

div.main {
  display: flex;
  background-color: var(--background-color);
}

div.main-panel {
  padding-top: 100px;
}

div.coin-box {
  border: 5px solid var(--secondary-color);
  border-radius: 25px;
  width: 26%;
  min-width: 300px;
  max-width: 400px;
  width: 300px;
  min-height: 200px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

div.coins-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 80%;
  justify-content: center;
}

div.sidebar {
  border-left: 5px solid var(--secondary-color);
  flex: 1 1 20%;
  min-width: 25ch;
  padding-left: 30px;
  padding-top: 100px;
  margin-left: 20px;
  background-color: var(--tertiary-color);
  font-size: 20px;
  color: var(--secondary-color);
}

div.sidebar h2 {
  margin-bottom: 10px;
}

div.sidebar li {
  margin-left: 30px;
}

div.header {
  position: fixed;
  top: 0px;
  background-color: var(--secondary-color);
  width: 100%;

}

div.header h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 20px;
}

div.panel-control button {
  background-color: var(--background-color);
  border: none;
  color: var(--secondary-color);
  font-size: 32px;
  margin-left: 25px;
  font-weight: bold;
}

div.panel-control button:hover {
  color: var(--tertiary-color);
}
