* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
--primary-color: #282828;
--secondary-color: #9E9E9E;
/*--tertiary-color: #457b9d;*/
--tertiary-color: #282828;
--background-color: #191919;;
}

div.main {
  display: flex;
  background-color: var(--background-color);
}

div.main-panel {
  padding-top: 2%;
}

div.coin-box {
  border: 5px solid var(--secondary-color);
  border-radius: 25px;
  width: 26%;
  min-width: 300px;
  max-width: 400px;
  width: 300px;
  min-height: 200px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

div.coins-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 80%;
  justify-content: center;
}

div.sidebar {
  border-left: 5px solid var(--secondary-color);
  flex: 1 1 20%;
  min-width: 25ch;
  padding-left: 30px;
  padding-top: 100px;
  margin-left: 20px;
  background-color: var(--tertiary-color);
  font-size: 20px;
  color: var(--secondary-color);
}

div.sidebar h2 {
  margin-bottom: 10px;
}

div.sidebar li {
  margin-left: 30px;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-bottom: 5px solid var(--secondary-color);
}

ul.header li
{
  float: left;
}

ul.header a {
  color: var(--secondary-color);
  margin: 20px;
  color: #9E9E9E;
	font-family: arial, sans-serif;
	font-size: 32px;
  display: block;
  text-align: center;
  padding-left: 14px;
  text-decoration: none;
}

ul.header li:hover 
{
    background-color: #111;
}

div.panel-control
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.panel-control h1 {
  background-color: var(--background-color);
  border: none;
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 3%;
}


img.coinIMG
{
  float: left;
  padding-right: 2%;

}