* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
--primary-color: #282828;
--secondary-color: #9E9E9E;
/* --tertiary-color: #457b9d; */
--tertiary-color: #282828;
--background-color1: rgb(65,65,65);
--background-color2: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(0,0,0,0.9262079831932774) 100%);
/* radial-gradient(circle, rgba(54,91,94,1) 0%, rgba(0,0,0,1) 100%); */
}

div.main {
  display: flex;
  background-color: var(--background-color1);
  background: var(--background-color2);
}

div.main-panel {
  padding-top: 2%;
}

div.coin-box {
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  width: 26%;
  min-width: 300px;
  max-width: 400px;
  width: 300px;
  min-height: 200px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);

}

div.coin-box-single {
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  width: 26%;
  min-width: 600px;
  max-width: 600px;
  width: 600px;
  min-height: 600px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);

}

div.coins-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 80%;
  justify-content: center;
}

div.sidebar {
  border-left: 1px solid var(--secondary-color);
  flex: 1 1 20%;
  min-width: 5ch;
  padding-left: 30px;
  padding-top: 100px;
  margin-left: 20px;
  background-color: var(--tertiary-color);
  font-size: 20px;
  color: var(--secondary-color);
}

div.sidebar h2 {
  margin-bottom: 10px;
}

div.sidebar li {
  margin-left: 30px;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--secondary-color);
}

ul.header li
{
  float: left;
}

ul.header a {
  color: var(--secondary-color);
  margin: 20px;
  color: #9E9E9E;
	font-family: arial, sans-serif;
	font-size: 20px;
  display: block;
  text-align: center;
  padding-left: 14px;
  text-decoration: none;
}

ul.header li:hover
{
    background-color: #111;
}

div.panel-control
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.panel-control h1 {
  background-color: var(--background-color);
  border: none;
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 3%;
}


img.coinIMG
{
  float: left;
  padding-right: 2%;

}

/* stuff for dropdown menu */

/* Dropdown Button */
.dropbtn {
  background-color: var(--background-color1);
  color:  var(--secondary-color);
  padding: 30px;
  padding-top: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: --secondary-color}
.show {display:block;}

a.coin-header
{
  color: var(--secondary-color);
  margin: 20px;
  color: #9E9E9E;
	font-family: arial, sans-serif;
	font-size: 28px;
  display: block;
  text-align: center;
  padding-left: 14px;
  text-decoration: none;
}

a.coin-header:hover
{
  color: white;
}