* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

:root {
--primary-color: #282828;
--secondary-color: #9E9E9E;
/* --tertiary-color: #457b9d; */
--tertiary-color: #282828;
--background-color1: rgb(65,65,65);
--background-color2: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(0,0,0,0.9262079831932774) 100%);
/* radial-gradient(circle, rgba(54,91,94,1) 0%, rgba(0,0,0,1) 100%); */
}

div.main {
  display: flex;
  background-color: var(--background-color1);
  background: var(--background-color2);
}

div.main-panel {
  padding-top: 2%;
}

div.coin-box {
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  width: 26%;
  min-width: 300px;
  max-width: 400px;
  width: 300px;
  min-height: 200px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);

}

div.coin-box-single {
  /* border: 1px solid var(--secondary-color); */
  /* border-radius: 25px; */
  width: 26%;
  min-width: 600px;
  max-width: 600px;
  width: 600px;
  min-height: 600px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);
}

div.coin-desc-single {
  /* border: 1px solid var(--secondary-color); */
  flex-grow: 1;
  margin: 10px;
  padding: 10px;

  min-width: 800px;
  width: 600px;
  min-height: 600px;
  /* background-color: var(--primary-color); */
  /* color: var(--secondary-color); */
}

th.price-table-single {
  width: 30%;
  margin: 15px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.coins-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 80%;
  justify-content: center;
}

div.sidebar {
  border-left: 1px solid var(--secondary-color);
  flex: 1 1 20%;
  min-width: 5ch;
  padding-left: 30px;
  padding-top: 100px;
  margin-left: 20px;
  background-color: var(--tertiary-color);
  font-size: 20px;
  color: var(--secondary-color);
}

div.sidebar h2 {
  margin-bottom: 10px;
}

div.sidebar li {
  margin-left: 30px;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--secondary-color);
}

ul.header li
{
  float: left;
}

ul.header a {
  color: var(--secondary-color);
  margin: 20px;
	font-family: arial, sans-serif;
	font-size: 20px;
  display: block;
  text-align: center;
  padding-left: 14px;
  text-decoration: none;
}

ul.header li:hover
{
    background-color: #111;
}

div.panel-control
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.panel-control h1 {
  background-color: var(--background-color);
  border: none;
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 3%;
}


img.coin-img
{
  width: 50px;
  height: 50px;
  padding-right: 2%;
  float: left;

}

a.coin-header
{
  color: var(--secondary-color);
  margin: 20px;
  color: #9E9E9E;
	font-family: arial, sans-serif;
	font-size: 28px;
  display: block;
  text-align: center;
  padding-left: 14px;
  text-decoration: none;
  width: 50%;
}

a.coin-header:hover
{
  color: white;
}

div.box-heading
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.box-prices
{
}

button.fav-button
{
  width: 20px;
  height: 20px;

}